.btn-custom {
    background-color: #000000; 
    color: #facc15; 
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem 2rem; 
    border-radius: 0.75rem;
    transition: background-color 0.3s, color 0.3s; 
  }
  
.btn-custom:hover {
    background-color: #f59e0b;
    color: #000000; 
}
  
.btn-custom-yellow {
    background-color: #facc15; 
    color: #000000;
    font-weight: 600; 
    font-size: 1.5rem; 
    padding: 0.5rem 2rem; 
    border-radius: 0.75rem; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .btn-custom-yellow:hover {
    background-color: #f59e0b; 
    color: #ffffff; 
  }